

.cards-area{
    & .btn-group-position{
        display: flex;
        justify-content: center;
        @media #{$sm, $md, $xs}{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
        }
    }
    .phone-position{
        @media #{$xs}{
            width: 30%;
            margin-top: 10px;
            
        }
    }
    & .active{
       background: linear-gradient(90deg,#f6864c,#e16b39);
       color: #fff;
       transition: 0.3s linear;
    }
    & button{
        width: 92px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
        border-radius: 6px;
        background: rgba(243, 238, 238, 0.544);
        box-shadow: 2px 6px 11px -13px #000000;
        transition: 0.3s linear;

        &:hover{
            background-color: #dd5419e3;
            color:#fff;

            & i{
                color: #fff;
            }
        }
        @media #{$xxl}{
            width: 103px;
        }
        @media #{$lg}{
            width: 70px;
            font-size: 8px;
        }
        @media #{$sm, $md, xs}{
            width: 70px;
            margin-top: 7px;
            font-size: 8px;
        }
        
    }
    & i{
        font-size: 18px;
        padding: 5px 22px;
        
    }
}
 .order-position{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 40px;

    & h3{
        font-size: 14px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $roboto;
    }

    & select{
        width: 180px;
        height: 25px;
        border: none;
        box-shadow: -0px 1px 2px 1px rgba(0,0,0,0.15);
        margin-left: 20px;
        border-radius: 4px;
        font-size: 11px;
        font-family: $roboto;
        padding-left: 5px;

        
    }
}

.order-hide{
    display: none;
}


.card-box{
    height: 340px;
    margin-top: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 2px 8px 2px rgba(0,0,0,0.15);
    position: relative;
    padding: 20px;
    @media #{$xl}{
        height: 370px;
    }
    &:hover{
        background: linear-gradient(90deg,#f6864c,#e16b39);
        height: 350px;
        transition: 0.5s linear;
        @media #{$xl}{
            height: 380px;
        }
        & .card-img{
            & i{
                color: #fff;
            }
        }
        & .card-description{
            & p{
                color: #fff;
            }
        }
        & .card-name{
            & h2{
                color: #fff;
            }
        }

        & .card-price{
            border-top: 2px solid #000;
        }
        
    }


    & .card-img{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        & i{
            font-size: 25px;
            color: #e16b39;
            text-align: center;
        }
    }
    & .card-name{
        & h2{
            font-size: 17px;
            font-family: $roboto;
            color: #000;
            font-weight: 400;
        }
    }

    & .card-description{
        & p{
            font-size: 12px;
            color: #000;
            font-weight: 300;
            text-align: center;
            
        }
    }

    & .card-price{
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        border-radius: 0px 0px 10px 10px;
        background:  linear-gradient(90deg,#f6864c,#e16b39);
        bottom: 0;
        padding-top: 5px;

        & p, a{
            color: #fff;
            font-weight: 700;
            font-size: 18px;
        }
        & a:hover{
            color: #000;
            font-weight: 800;
        }
    }
}