.carrousel-contents{
    & .btn-back{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        margin-top: 40px;
        padding-left: 5%;
        @media #{$sm, $md}{
            margin-bottom: 50px;
        }

        & h2{
            margin-left: 20px;
            font-size: 25px;
            color: #e16b39;
            font-weight: 700;
        }
        & a{
            font-size: 30px;
            font-weight: 700;
            color: #e16b39;
            margin-top: 3px;
            &:hover{
                color: #eccf4e;
            }
        }
        
    }
    & .slick-prev, & .slick-next{
        background: none;
        &::before{
            color: #000;
            background: none;
            font-family: $roboto;
            font-size: 30px;
            font-weight: 700;
        }
    }
    & .slick-next{
        &::before{
            @media #{$xs}{
                margin-left: -50px;
            }
        }
    }
    & .slick-prev{
        &::before{
            @media #{$xs}{
                margin-right: -50px;
            }
        }
    }
    & .box-slide-details{
        margin-bottom: 20px;
        @media #{$xs}{
            padding: 50px;
        }
        & .mobile-hide{
            @media #{$xs, $sm, $md}{
                display: none;
            }
        }
        & .img-box-wrapper{
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
            border-radius: 10px;
            padding: 20px;
            width: 45%;
            margin: 2%;
            @media #{$xs, $sm, $md}{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            
            
            
            & p{
                margin-top: 20px;
                color: #db6f31;
                font-family: $roboto;
                font-weight: 400;
                font-size: 18px;

                @media #{$xs}{
                    font-size: 15px;
                }
                
                
            }
            & img{
                width: 100%;
                
                
            }
        }

    }

    & .description{
        & p{
            font-size: 18px;
            font-family: $roboto;
            color: #000;
            font-weight: 200;
        }
    }

    & .price-position{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;

        & h3{
            font-size: 35px;
            font-weight: 700;
            font-family: $roboto;
        }
        & button{
                margin-left: 25px;
                font-size: 15px;
                color: #fff;
                border-radius: 7px;
                padding: 5px 35px;
                font-weight: 700;
                background: linear-gradient(90deg,#f6864c,#e16b39);
                box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.33);
                transition: 0.8s linear;
                &:hover{
                    background: #dd5419e3;
                    
                }
            }
        
    }
}